<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>候选栏渐变</string>
			<key>footerText</key>
			<string>候选栏渐变独立于键盘主题。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>CandidateGradient</string>
			<key>label</key>
			<string>启用候选词渐变</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.minis.rainbowkeyboard</string>
			<key>PostNotification</key>
			<string>com.minis.rainbowkeyboard.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>颜色</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>起始颜色</string>
			<key>action</key>
			<string>chooseCandidateStart</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>结束颜色</string>
			<key>action</key>
			<string>chooseCandidateEnd</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>输入法</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>CandidateNative</string>
			<key>label</key>
			<string>原生候选栏</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.minis.rainbowkeyboard</string>
			<key>PostNotification</key>
			<string>com.minis.rainbowkeyboard.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>CandidateWeType</string>
			<key>label</key>
			<string>WeType 候选栏</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.minis.rainbowkeyboard</string>
			<key>PostNotification</key>
			<string>com.minis.rainbowkeyboard.changed</string>
		</dict>
	</array>
</dict>
</plist>
